In [2]:
from azureml.core import Workspace, Datastore, Dataset, Experiment

In [4]:
ws=Workspace.from_config() #Initialize workspace from config file
az_store=Datastore.get(ws,'azure_sdk_bob01')#Initialize datastore 
az_dataset= Dataset.get_by_name(ws,'CT_SDK' )#Get a single dataset by name in a workspace
az_default_store=ws.get_default_datastore()#Access all the default datastores in the workspace

In [5]:
#Create/access experiment object
experiment=Experiment(workspace=ws,name='CT_SDK_EXP01')

In [ ]:
#We have to write our code for data preprocessing and model building between start logging and complete.

In [10]:
#Run an experiment using start logging method
new_run=experiment.start_logging()

In [12]:
#Get the data in pandas datafream
df = az_dataset.to_pandas_dataframe()
df.head()

,Region,Metro,SiteType,DeploymentType,NIDPM,DPM,IsMainstream,FacilityCode,ClassType,CT,CT_Status,CT_Indicator
0,AMEREAST,Des Moines,DC,Expansion,John Simmons,Dhiraj Take (Tata Consultancy Services Ltd),False,DM4,Class A,226.0,Out-of SLA,Yellow
1,AMEREAST,Des Moines,DC,Expansion,John Simmons,Dhiraj Take (Tata Consultancy Services Ltd),False,DM4,Class A,226.0,Out-of SLA,Yellow
2,AMEREAST,Des Moines,DC,Expansion,John Simmons,Dhiraj Take (Tata Consultancy Services Ltd),False,DM4,Class A,226.0,Out-of SLA,Yellow
3,AMEREAST,Campinas,RNG,Aug,Kathy Brown,Madhvi Chand (Tata Consultancy Services),False,CPQ02,Class C,91.0,With-in SLA,Green
4,AMERWEST,Los Angeles,GW,Upgrade,Darren (Norm) Norman,Rajesh Adimoolam (Tata Consultancy Services Ltd),False,LAX30,Class E,117.0,With-in SLA,Green

In [15]:
#Will do some preprocessing and will log teh values in AzureML experiment
#Count of observations
number_observations=len(df)
#count of missing values
missing_count=df.isnull().sum()

In [19]:
#log a metric to a workspace
new_run.log('Number of Observations', number_observations)
#log the missing values to workapce
for col in df.columns:
    new_run.log(col, missing_count[col])

Metrics Client: Failed to post metric with name Region due to the following error "Cannot log value type Int to column with existing type String."
Metrics Client: Failed to post metric with name Metro due to the following error "Cannot log value type Int to column with existing type String."
Metrics Client: Failed to post metric with name SiteType due to the following error "Cannot log value type Int to column with existing type String."
Metrics Client: Failed to post metric with name DeploymentType due to the following error "Cannot log value type Int to column with existing type String."
Metrics Client: Failed to post metric with name NIDPM due to the following error "Cannot log value type Int to column with existing type String."
Metrics Client: Failed to post metric with name DPM due to the following error "Cannot log value type Int to column with existing type String."
Metrics Client: Failed to post metric with name IsMainstream due to the following error "Cannot log value type Int to column with existing type String."
Metrics Client: Failed to post metric with name FacilityCode due to the following error "Cannot log value type Int to column with existing type String."
Metrics Client: Failed to post metric with name ClassType due to the following error "Cannot log value type Int to column with existing type String."
Metrics Client: Failed to post metric with name CT due to the following error "Cannot log value type Int to column with existing type String."
Metrics Client: Failed to post metric with name CT_Status due to the following error "Cannot log value type Int to column with existing type String."
Metrics Client: Failed to post metric with name CT_Indicator due to the following error "Cannot log value type Int to column with existing type String."

In [20]:
#complete an experiment run
new_run.complete()