In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
raw_data = pd.read_csv ("Example-bank-data.csv")

In [8]:
raw_data.tail()

     duration    y
513       204   no
514       806  yes
515       290   no
516       473  yes
517       142   no

In [4]:
data = raw_data.copy()

In [24]:
data ["y"]= pd.get_dummies (data ["y"],drop_first= True)

In [25]:
data.head()

   duration  y
0       117  1
1       274  0
2       167  1
3       686  0
4       157  1

In [15]:
y= data [["y"]]
x= data [["duration"]]

In [9]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test =train_test_split (x,y,test_size=0.30, random_state=100)

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
log =LogisticRegression()

In [17]:
log.fit  (x_train, y_train)

C:\Users\v-akrupl\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\v-akrupl\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [19]:
log.score(x_test,y_test)

0.7435897435897436

In [21]:
log.predict ([[100]])

array([0], dtype=uint8)